

/*	app-star-rater div {
		border: none;
    flex-direction: row;
    box-sizing: border-box;
    display: block;
    max-height: 100%;
    place-content: stretch center;
    align-items: stretch;
    background: #ccc;
    width: 90%;
    margin: 0 auto;
	}

		app-star-rater div .rating {
    display: inline-block;

}

star-rating-comp button {
	float: right;
}*/


