<div class="customwidth_responsive custom_carasol">
<div class="list-img-detail new-list-img-thumb">

  <div class="list-img-play-time">
  <img *ngIf="!song.albumId" [src]="imageSource" alt="" class="img-responsive">
  <img *ngIf="song.albumId" [src]="albumimageSource" alt="" class="img-responsive art">
  </div>

  <div class="thumbnail-disc">

    <span class="btn_span">
      <aside  class="song_action">
        <button *ngIf="!song.albumId" class="songplay_" id="songplay_{{song.SongId}}" (click)="onPlayHandler()"><i class="fa fa-play-circle-o" aria-hidden="true"></i></button>
        <button *ngIf="!song.albumId" style="display: none;" class="songpause_" id="songpause_{{song.SongId}}" (click)="onStopHandler()"><i class="fa fa-pause-circle-o" aria-hidden="true"></i></button>
      </aside>
      <span class="website"  *ngIf="!song.albumId">
        <a href="{{song.Website}}" target="_blank"><i class="fa fa-globe"></i></a>
      </span>
      <aside class="song_time"  *ngIf="!song.albumId">{{song.Duration}}</aside>
      <div class="clearfix"></div>
    </span>
    <span class="title"  *ngIf="!song.albumId" title="{{song.SongTitle }}">{{ song.SongTitle }} </span>
    <span class="title" *ngIf="song.album_type">{{ song.album_type }} </span>

    <span class="artist"  *ngIf="!song.albumId" title="{{song.ArtistName }}">{{song.ArtistName.substring(0, 25) }}</span>
    <span class="artist" *ngIf="song.album_name">{{ song.album_name }} </span>

    <span class="song-label" *ngIf="!song.albumId" title="{{song.Label }}">Label: {{song.Label.substring(0, 25) }}</span>
    <span class="song-label" *ngIf="song.album_name">&nbsp;</span>

    <span class="song-user" >Uploaded By: <a [routerLink]="['/PublicProfile',song.UserId]" title="{{song.Username }}">{{song.Username }}</a></span>

   

    <app-star-rater  *ngIf="!song.albumId" (onSubmit)="onSubmitHandler($event)" [overallRating]="song.OverallRating"></app-star-rater>
    <button *ngIf="song.albumId" class="admin_song_list View-album-list" [routerLink]="['/getMusic/reviewMusicalbum', song.albumId]" >View Songs</button>

  </div>

</div>
</div>
