<header class="inner-without-login" *ngIf="!isAuthenticated;" [ngStyle]="{ 'background-image': 'url(' + bgimageName + ')'}">
  <!-- [ngStyle]="{ 'background-image': 'url(' + bgimageName + ')'}" -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="logo"><a [routerLink]="['/home']"><img [src]="imageName" alt=""></a></div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 pull-right">
    
                <div class="login" >
                   
                     <a  (click)="userlogin()">Sign in</a>
                    <a [routerLink]="['/register']" id="register_scroll">Sign Up</a>
                   
                </div>
              </div>
          
        </div>

        </div>
    </header>


<alert></alert>
<section class="registration-secton-form" id="register_scroller">
<div class="container">
	<div class="row">
    <div *ngIf="msgstatus;" class="alert alert-success">
      <p>{{ msgstatus }}</p>
    </div>
    <div *ngIf="error;" class="alert alert-danger">
      <p>{{ error }}</p>
    </div>
		<div class="col-md-8 col-md-offset-2">

      <div class="row">
        <div class="col-md-12 text-center">
      <h3>Reset Password</h3>
</div>

       </div>
    <div class="registration-form-app" >
  

     <form [formGroup] = "resetpasswordform" (ngSubmit)="onSubmitHandler()" class="form-horizontal" >
      <input type="hidden" class="form-control" name = "username" formControlName = "username">
      <input type="hidden" class="form-control" name = "resetCode" formControlName = "resetCode">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>New Password</label>
                <input type="password" class="form-control" name = "password" placeholder = "New Password" formControlName = "password">
               <span class="error" *ngIf="!resetpasswordform.controls['password'].valid && resetpasswordform.controls['password']?.touched">Please Enter Password.</span>
              </div>
            </div>
          </div>  
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" name = "confirmPassword" placeholder = "Confirm Password" formControlName = "confirmPassword">
                <span class="error" *ngIf="!resetpasswordform.controls['confirmPassword'].valid && resetpasswordform.controls['confirmPassword']?.touched">Please Confirm Password.</span>
                
              </div>
            </div>

           </div>
         

       
      <!-- <div class="row">
          <div class="col-md-12 text-center">       
               <re-captcha
                formControlName="captcha"
                name="captcha"
                required
                siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU"
                 ></re-captcha>
              <div [hidden]="resetpasswordform.controls['captcha'].valid || resetpasswordform.controls['captcha'].pristine" class="error">Captcha must be solved</div>
                      
          </div>
      </div> -->  

          <div class="row">
           <div class="col-md-12 text-center">
            <button [disabled]="!resetpasswordform.valid" class="form-submit-button">
              Submit
            </button>
            </div>
        </div>

     
   </form> 
</div>
		</div>
	</div>
</div>
</section>