
<div class="upload-song-dialog">

<h2>Upload Type</h2>
<div *ngIf="error"> <div class="alert alert-danger">{{ error }}</div> </div>
   <form [formGroup]="albumform">
    <div class="form-group">
    <label>Upload Type</label>
    
    <select class="form-control" formControlName="albumtype" >
      <option value="Single Release">Single Release</option>
      <option value="EP">EP</option>
      <option value="Album">Album</option>
    </select>
    <span class="error" *ngIf="albumform.controls['albumtype'].invalid && albumform.controls['albumtype']?.touched">
      Select Upload Type
    </span>
  </div>
  <div class="text-center">
    <!-- Can optionally provide a result for the closing dialog. -->
    <button  (click)="closeDialog()">Ok</button>
    <button  (click)="cancelDialog()">Cancel</button>

  </div>
</form>
</div>