<!-- <div class="full-width full-height change-password-dialog" >
    <h2 mat-dialog-title fxFlex="nogrow">Change Password</h2>
    <mat-dialog-content >
      <app-dynamic-form #form [questions]="questions" 
        [submitIsVisible]="false">
      </app-dynamic-form>
    </mat-dialog-content>
    <mat-dialog-actions >
      <button mat-button (click)="closeDialog()">Ok</button>
      <button mat-button (click)="cancelDialog()">Cancel</button>
    </mat-dialog-actions>
</div>
 -->
<div class="login-form-popup">

<h2>Change Password</h2>

<div *ngIf="error"> <div class="alert alert-danger">{{ error }}</div> </div> 

<form  [formGroup]="changepassword"  >

    <div class="form-group">
    <label for="newPassword">Old Password</label>
    <input type="password"
           class="form-control form-styling" placeholder="Old Password" 
           formControlName="oldPassword" required>


    </div>
    <div class="form-group">
    <label for="newPassword">New Password</label>
    <input type="password"
           class="form-control form-styling" placeholder="New Password" 
           formControlName="newPassword" required>


    </div>
    <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password"
           class="form-control form-styling" placeholder="Confirm Password" 
           formControlName="confirmPassword" required>

    </div>
    <div class="btn-animate">
    <!-- <a class="btn-signin">Sign in</a> -->
    <button mat-button (click)="closeDialog()" class="btn-signin">Update</button>
    <button mat-button (click)="cancelDialog()" class="btn-signin">Cancel</button>

  </div>
       
</form>

               
</div>